includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - src

    level: 8

    bootstrapFiles:
        - vendor/pimcore/pimcore/stubs/dynamic-constants.php

    checkMissingIterableValueType: false

    strictRules:
        disallowedConstructs: false
