parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getIterator\\(\\) on iterable\\.$#"
			count: 1
			path: src/Repository/ConstraintDefinitions.php

		-
			message: "#^Variable \\$taggedConstraints in PHPDoc tag @var does not match any variable in the foreach loop\\: \\$taggedConstraint$#"
			count: 1
			path: src/Repository/ConstraintDefinitions.php

		-
			message: "#^Parameter \\#1 \\$obj of method Valantic\\\\DataQualityBundle\\\\Config\\\\V1\\\\AbstractReader\\:\\:getForObject\\(\\) expects Pimcore\\\\Model\\\\DataObject\\\\Concrete, Pimcore\\\\Model\\\\ModelInterface given\\.$#"
			count: 1
			path: src/Validation/AbstractValidateObject.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function array_merge_recursive expects array, Symfony\\\\Component\\\\Validator\\\\ConstraintViolationListInterface given\\.$#"
			count: 1
			path: src/Validation/DataObject/Attributes/FieldCollectionAttribute.php

		-
			message: "#^Instanceof between Symfony\\\\Component\\\\Validator\\\\Constraint and Valantic\\\\DataQualityBundle\\\\Tests\\\\Repository\\\\SampleValidatorMinimal will always evaluate to false\\.$#"
			count: 1
			path: tests/Repository/SampleValidatorMinimal.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Repository/SampleValidatorMinimal.php

