includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - src

    level: 8

    bootstrapFiles:
        - vendor/pimcore/pimcore/stubs/dynamic-constants.php

    checkMissingIterableValueType: false

    strictRules:
        disallowedConstructs: false

    ignoreErrors:
        - '#^Method Valantic\\DataQualityBundle\\Normalizer\\ObjectbrickNormalizer\:\:normalize\(\) return type with generic class ArrayObject does not specify its types: TKey, TValue$#'
        - '#^Method Valantic\\DataQualityBundle\\Normalizer\\FieldcollectionNormalizer\:\:normalize\(\) return type with generic class ArrayObject does not specify its types: TKey, TValue$#'
